<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>학생정보수정</h2>
    <form action="/students/update/{{stu.no}}/" method='POST' name='frm'>
        {% csrf_token %}
        <input type='hidden' name='no' value='{{stu.no}}' readonly>
        <label>이름</label>
        <input type='text' name='name' value='{{stu.name}}'><br>
        <label>전공</label>
        <input type='text' name='major' value='{{stu.major}}'><br>
        <label>학년</label>
        <input type='text' name='grade' value='{{stu.grade}}'><br>
        <label>나이</label>
        <input type='text' name='age' value='{{stu.age}}'><br>
        <label>성별</label><br>
        <input type='radio' name='gender' value='남자' id='man' {% if '남자' in stu.gender%} checked {%endif%}>
        <label for='man'>남자</label>
        <input type='radio' name='gender' value='여자' id='woman' {% if '여자' in stu.gender%} checked {%endif%}>
        <label for='woman'>여자</label>
        <br>
        <label>취미</label><br>
        <input type='checkbox' name='hobby' value='게임' id='game' {% if '게임' in stu.hobby%} checked {%endif%}>
        <label for='game'>게임</label>
        <input type='checkbox' name='hobby' value='음악' id='music' {% if '음악' in stu.hobby%} checked {%endif%}>
        <label for='music'>음악</label>
        <input type='checkbox' name='hobby' value='수영' id='swim' {% if '수영' in stu.hobby%} checked {%endif%}>
        <label for='swim'>수영</label>
        <input type='checkbox' name='hobby' value='조깅' id='jogging' {% if '조깅' in stu.hobby%} checked {%endif%}>
        <label for='jogging'>조깅</label>
        <input type='checkbox' name='hobby' value='잠' id='sleep' {% if '잠' in stu.hobby%} checked {%endif%}>
        <label for='sleep'>잠</label>
        <br>
        <br>
        <input type='submit' value='수정'>
        <a href='/students/view/{{stu.no}}/'><button type='button'>취소</button></a>
    </form>
</body>
</html>